[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
websockets = "*"
pydantic = "*"
uvicorn = "*"
loguru = "*"
python-dotenv = "*"
httpx = "*"
python-socketio = {extras = ["asyncio"], version = "*"}
fastapi-socketio = "*"
tqdm = "*"
langgraph = "*"
matplotlib = "*"
langchain-openai = "*"
scikit-learn = "*"
langchainhub = "*"
langchain-ollama = "*"
nomic = "*"
langchain-nomic = "*"
bs4 = "*"
pypdf = "*"
python-multipart = "*"
python-magic = "*"
pytest = "*"
ace-tools = "*"
tabulate = "*"
motor = "*"
pymongo = "*"
celery = "*"
redis = "*"
nltk = "*"
dateparser = "*"
setuptools = "*"
wheel = "*"
cython = "*"
cymem = "*"
murmurhash = "*"
preshed = "*"
blis = "*"
thinc = "*"
spacy = "*"
pdf2image = "*"
opencv-python = "*"
pillow = "*"
langchain = "*"
langchain-core = "*"
langchain-community = "*"

[dev-packages]

[requires]
